@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container #head {
  width: 1440px;
  height: 38.39px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.05);
}
#container #head > #content {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}
#container #head > #content > #img {
  width: 108px;
  height: 19.19px;
  margin-top: 9.6px;
  float: left;
  background: url(https://id1.cloud.huawei.com/CAS/up/idmw_rss_58/logos/HUAWEI.svg) no-repeat;
}
#container #head > #content > #word {
  width: 77.8px;
  height: 100%;
  float: left;
}
#container #head > #content > #word > #line {
  float: left;
  width: 1px;
  height: 16px;
  margin: 11.2px 12.8px;
  background: rgba(0, 0, 0, 0.2);
}
#container #head > #content > #word > #wenzi {
  font-size: 12.8px;
  margin-top: 11.2px;
  color: #191919;
  font-weight: 700;
  float: left;
}
#container > #center {
  width: 1440px;
  height: 633px;
}
#container > #center > #zhuti {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  background: #0f0;
}
#container #stern {
  width: 100%;
  height: 88px;
  background: rgba(0, 0, 0, 0.05);
}
#container #stern > #jiewei {
  text-align: center;
  line-height: 88px;
  width: 550px;
  height: 42px;
  margin: 0 auto;
  font-size: 11.2px;
}
#container #stern > #jiewei > p {
  width: 100%;
  height: 20px;
}
#container #stern > #jiewei > #p1 > a {
  font-size: 12px;
  padding: 0 14px;
  text-decoration: none;
  color: #000;
  border-right: 1px solid #aaa;
}
#container #stern > #jiewei > #p1 > a:nth-child(4) {
  border: none;
}
#container #stern > #jiewei > #p2 {
  margin-top: 10px;
  color: #666;
}
